---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Conference Papers</h2>
{% assign conf_pubs = site.publications | where: "category", "conferences" | sort: "date" | reverse %}
{% for post in conf_pubs %}
  {% include archive-single.html %}
{% endfor %}

<h2>Journal Articles</h2>
{% assign journal_pubs = site.publications | where: "category", "manuscripts" | sort: "date" | reverse %}
{% for post in journal_pubs %}
  {% include archive-single.html %}
{% endfor %}
